<a href="https://colab.research.google.com/github/HKyeol/Python_study/blob/master/201204_pd_join_subquery_group.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 복습

어제 배웠던 내용중에 질문이 많았던 내용만 전체적으로 리뷰  

1. 클래스 변수와 인스턴스 변수

In [ ]:

class  Employees:  # 옆에 괄호()를 따로 안 쓴 이유는 밑에 __init__함수에 입력매개변수가 여러개여서
    raise_amount = 1.1  # 클래스 변수(클래스 멤버)

    emp_chulsu2.raise_amount = 1.2 # 인스턴스 변수는 1.2로 변경되었다. 하지만 클래스 변수를 변경한게 아니라서 적용되지 않는다.

2. 예외처리 
http://docs.python.org/3/library/exceptions.html  

위의 사이트에 보면 여러가지 다양한 에러에 대해서 미리 에러처리를 할 수 있도록 정의해놓은 예외들을 확인할 수 있습니다.  

예제:

In [ ]:
try:
  x = float(input('분자의 숫자를 입력하시오'))  # 소수점이 들어가려면 실수(float)가 들어가야 한다.
  y = float(input('분모의 숫자를 입력하시오'))
  print(x/y)
except: 
  if 
  print('잘못된 값을 입력하셔서 나누기를 할 수 없습니다.')
finally:
  print('계산이 끝났습니다.')

분자의 숫자를 입력하시오a
잘못된 값을 입력하셔서 나누기를 할 수 없습니다.
계산이 끝났습니다.

설명: 위의 경우에는 분모값을 입력할 때 숫자 0을 입력했을 때와 문자 a를 입력했을 때 똑같이 '잘못된 값을 입력하셔서 나누기를 할 수 없습니다.'가 출력되게 했는데 좀 더 구체화해서 분모값으로 0을 입력하면 '0으로 나눌 수 없습니다.'가 나오게 하고싶다면 어떻게 해야 하는가?

In [ ]:
try:
  x = float(input('분자의 숫자를 입력하시오'))  # 소수점이 들어가려면 실수(float)가 들어가야 한다.
  y = float(input('분모의 숫자를 입력하시오'))
  print(x/y)
except ZeroDivisionError:                       # 0으로 나눌 때 에러메세지
  print('0으로 나눌 수 없습니다')
except:
  print('잘못된 값을 입력하셨습니다.')

분자의 숫자를 입력하시오2
분모의 숫자를 입력하시오a
잘못된 값을 입력하셨습니다.

문제191. 숫자를 물어보게 하고 숫자를 입력하면 해당 숫자만큼 1번부터 숫자가 출력되게 하는num코드를 작성하시오.  
```
숫자를 입력하세요 ~ 5 
1
2
3
4
5
```

In [ ]:
num = int(input('숫자를 입력하세요~'))
for i in range(1,num+1):
  print(i)

숫자를 입력하세요~5
1
2
3
4
5

문제192. 위의 코드에 예외처리를 해서 숫자를 물어볼 때 문자를 입력하면 잘못된 값을 입력하셨습니다. 라고 메세지가 출력되게 하시오.

In [ ]:
try:
  num = int(float(input('숫자를 입력하세요 ~ ')))
  for i in range(1,num+1):
    print(i)
except:
  print('잘못된 값을 입력하셨습니다.')

숫자를 입력하세요 ~ 3.6
1
2
3

설명: 위의 코드의 경우에는 숫자를 입력할 때 알파벳 a를 넣으면 예외처리가 되어서 ...? . 에러에 대한 정확한 원인파악을 하기 어렵습니다.  
에러에 대한 원인파악을 하려면 아래와 같이 작성하시면 됩니다.

In [ ]:
try:
  num = int(float(input('숫자를 입력하세요 ~ ')))
  for i in range(1,num+1):
    print(i)
except Exception as e:
  print('잘못된 값을 입력하셨습니다.')
  print(e) # 에러가 난 이유를 출력해줍니다.

숫자를 입력하세요 ~ 2.0
1
2

# 59. 예외처리 이해하기 5 (try ~ except 특정 예외)  

파이썬 입장에서 봤을 때는 오류가 아닌데 프로그래머가 이건 오류이다 라고 일부러 프로그램이 안돌게 오류메세지를 출력하는 경우에 사용합니다.  
```
계산하는 프로그램

프로그램 코드 ..............
프로그램 코드 ..............  <--- 오류가 발생했으면 여기서 끝내버리려고 함.
프로그램 코드 ..............
프로그램 코드 ..............

```
파이썬 입장에서는 에러가 안나지만 프로그래머가 오류라고 정의하는 것  

설명: 금융권 프로그램에서는 금액이 안맞는 프로그램이 있다면 사고로 이어지게 되므로 금액이 안맞으면 프로그램을 종료해라 라고 예외처리를 하는 것.  

문법:
```
실행코드
if 어떤 조건:
  raise Exception('예외가 발생했습니다.') # 여기서 종료
else:
  실행코드
```

문제193. 판다스를 이용해서 emp3.csv의 데이터를 로드하는데 이름을 물어보게 하고 이름을 입력하면 해당 사원의 이름과 월급이 출력되게 하시오!
```
이름을 입력하세요 ~ scott
SCOTT 3000
```

In [ ]:
import pandas as pd
#from google.colab import files
#myfile = files.upload()

emp = pd.read_csv("emp3.csv")
a = input('이름을 입력하세요')
print(emp[['ename','sal']][emp['ename']==a.upper()])

이름을 입력하세요scott
    ename   sal
11  SCOTT  3000

문제194. 위의 결과에서 월급만 출력하시오.

In [ ]:
emp = pd.read_csv("emp3.csv")
a = input('이름을 입력하세요')
result = (emp['sal'][emp['ename']==a.upper()])  # 컬럼이 하나면 []이거 하나만 써도 된다.
print(type(result))  # <class 'pandas.core.series.Series'> 판다스 시리즈다. 오라클로 치면 컬럼이다. 나는 컬럼말고 3000딱 나오게 하고싶다. 오라클에서는 필드값이라고 한다.

result = (emp['sal'][emp['ename']==a.upper()]).values[0]  # .values[0]을 넣으면 딱 3000이 나온다.!
print((result))

이름을 입력하세요scott
<class 'pandas.core.series.Series'>
3000

설명: emp 데이터 프레임에서 어떤 특정값을 딱 하나만 출력하려면 위와 같이 작성해줘야 합니다.


문제195. 위의 코드에 사용자 정의 예외처리를 해서 월급이 고소득자는 해당 사원의 월급을 볼 수 없습니다. 라는 메세지가 출력되게 하시오.

In [ ]:
import pandas as pd

emp = pd.read_csv("emp3.csv")
a = input('이름을 입력하세요')
if (emp['sal'][emp['ename']==a.upper()]).values[0] >= 3000:
  raise Exception('해당 사원의 월급을 볼 수 없습니다.')
else:
  print(emp[['ename','sal']][emp['ename']==a.upper()])

이름을 입력하세요scott

Exception: ignored

smith를 넣으면 잘 출력되지만 scott을 넣으면 에러메세지를 출력한다.  

문제196. 위의 코드를 수정해서 이름을 물어보게하고 이름과 직업을 출력하는 코드로 작성하는데 집업이 SALESMAN이면 해당 사원의 정보는 볼 수 없습니다. 라는 메세지가 출력되면서 프로그램이 종료되게 하시오.

In [ ]:
import pandas as pd

emp = pd.read_csv("emp3.csv")
name = input('이름을 입력하세요')
result = emp['job'][emp['ename']==name.upper()].values[0]
if result == 'SALESMAN':
  raise Exception('해당사원의 정보는 볼 수 없습니다.')
else: 
  print(emp[['ename','job']][emp['ename']==name.upper()])

이름을 입력하세요allen

Exception: ignored

# 60. 값 입력받기(input)  

파이썬 내장함수 input은 사용자가 키보드로 입력한 값을 문자열로 return합니다.  
input()의 인자는 사용자 입력을 돕기 위한 안내 문구나 힌트 등을 표시하는 문자열이 됩니다.  

예:
```
name = input('사원이름을 입력하세요')
num = int(input('숫자값을 입력하세요'))  # input으로 받는 값은 기본적으로 str이기 때문에 int나 float를 붙여서 숫자로 변환해줘야 한다.
```

문제197. 아래처럼 사원 이름을 물어보게 하고 사원이름을 입력하면 해당 사원의 이름과 월급이 출력되게 하시오.

In [ ]:
name = input('사원 이름을 입력해주세요.')
emp = pd.read_csv('emp3.csv')
print(emp[['ename','sal']][emp['ename']==name.upper()])

사원 이름을 입력해주세요.scott
    ename   sal
11  SCOTT  3000

문제198. 없는 사원 이름을 입력하면 해당 사원은 없습니다. 라는 메세지가 출력되게 하시오!

In [ ]:
try:
  emp = pd.read_csv('emp3.csv')
  name = input('이름을 입력해주세요.')
  result = emp['ename'][emp['ename']==name.upper()].values[0]
  print(emp[['ename','sal']][emp['ename']==result])
except LookupError:
  print('해당 사원은 없습니다.')

이름을 입력해주세요.king
  ename   sal
0  KING  5000

설명: result = emp['ename'][emp['ename']==name.upper()].values[0]  
이 코드에서 values[0]을 사용하면 Series(컬럼)이 아니라 값으로 출력이 되어서 result에 담기게 됩니다. 없는 사원이름을 입력하면 result에 값이 입력되지 않게 되므로 LookupError 예외처리가 되어서 해당사원은 없습니다. 라는 메세지가 출력됩니다.  

문제 199. (점심시간 문제) 직업을 물어보게 하고 직업을 입력하면 해당 사원의 이름과 직업과 월급이 출력되게하는 코드를 작성하는데 없는 직업을 입력하면 해당 직업은 사원 테이블에 없습니다. 라는 메세지가 출력되게 하시오.

```
직업을 입력하세요 ~ salesman
이름 직업 월급

직업을 입력하세요 ~ aaa
해당 직업은 사원 테이블에 없습니다.
```

In [ ]:
import pandas as pd
try:
  emp = pd.read_csv('emp3.csv')
  job = input('직업을 입력하세요 ~ ')
  result = (emp['job'][emp['job']==job.upper()]).values[0]
  print(result)
  print((emp[['ename','job','sal']][emp['job']==result]))
except LookupError:
  print('해당 직업은 사원 테이블에 없습니다.')
  result = (emp['job'][emp['job']==job.upper()])
  print(result[0])

직업을 입력하세요 ~ a
해당 직업은 사원 테이블에 없습니다.

KeyError: ignored

In [ ]:
try:
    name = input('직업을 입력하세요')
    emp = pd.read_csv('emp3.csv')
    result = emp['job'][emp['job']==name.upper()].values[0]
    print(emp[['ename','sal']][emp['job']==result])
except LookupError:
    print('해당 직업은 없습니다')

직업을 입력하세요aa
해당 직업은 없습니다

# 61. 자료형 확인하기(type)

파이썬의 자료형은 하나의 클래스입니다.  
파이썬은 숫자나 문자 ,문자열, 리스트, 튜플, 사전, 함수 등을 각각의 하나의 클래스로 취급합니다.  
코드를 작성하다가 변수이름만 보고 이 자료가 어떤 자료형인지 확인해야 하는 경우가 있습니다. 이 때 파이썬 내장함수인 type()을 활용하면 자료형을 쉽게 활용할 수 있습니다.  

예제:

In [ ]:
numdata = 57
print(type(numdata))

<class 'int'>

In [ ]:
numdata = 57.2
print(type(numdata))

<class 'float'>

In [ ]:
strdata = 'str'
print(type(strdata))

<class 'str'>

In [ ]:
a = [1,2,3,4]
print(type(a))

<class 'list'>

문제200. 딕셔너리 자료형을 만들고 위와 같이 type을 확인하시오!

In [ ]:
dic = {'사과':'apple','배':'pear'}
print(type(dic))

<class 'dict'>

설명:
```
  리스트 --> 대괄호[]
    튜플 --> 소괄호()
딕셔너리 --> 중괄호{}
```

# 62. 나눗셈에서 나머지만 구하기(%)

나누기 연산에서 나머지만 구하는 연산을 %로 구합니다.  

예:

In [ ]:
print(12 % 3) # 0
print(12 % 5)

0
2

문제201. 아래와 같이 두개의 숫자를 각각 물어보게하고 아래의 메세지가 출력되게 하시오!
```
첫번째 숫자를 입력하세요 ~ 1113
두번째 숫자를 입력하세요 ~ 23

1113을 23으로 나누면 9가 나머지로 남습니다.
```

In [ ]:
a = int(input('첫번째 숫자를 입력하세요 ~ '))
b = int(input('두번째 숫자를 입력하세요 ~ '))
c = a % b
print(f'{a}를 {b}로 나누면 {c}가 나머지로 남습니다.')

첫번째 숫자를 입력하세요 ~ 1113
두번째 숫자를 입력하세요 ~ 23
1113를 23로 나누면 9가 나머지로 남습니다.

# 63. 몫과 나머지 구하기(divmod)  

예제:

In [ ]:
result1, result2= divmod(1113,23)  # divmod함수가 출력하는 값이 2개여서 앞에 result도 2개를 써줬다.
print(result1, result2)

48 9

몫과 나머지가 출력된다.

In [ ]:
result = divmod(1113,23)
print(result)

(48, 9)
<class 'tuple'>

result하나만 쓰면 하나에 모든 값이 다 들어간다. 튜플 형으로 들어간다.  

문제202. 아래와 같이 실행되게 코드를 수행하시오.
```
첫번째 숫자를 입력하시오 ~ 1113
두번째 숫자를 입력하시오 ~ 23
1113을 23으로 나눈 몫은 48이고 나머지는 9입니다.

0으로 나누면
0으로는 나눌 수 없습니다.
```

In [ ]:
try:
    a = int(input('첫번째 숫자를 입력하시오. '))
    b = int(input('첫번째 숫자를 입력하시오. '))
    result1, result2 = divmod(a,b)
    print(f'{a}을 {b}으로 나눈 몫은 {result1}이고 나머지는 {result2}입니다.')
except ZeroDivisionError :
    print('0으로는 나눌 수 없습니다.')
except:
    print('잘못된 값을 입력하셨습니다.')

첫번째 숫자를 입력하시오. 1113
첫번째 숫자를 입력하시오. 23
1113을 23으로 나눈 몫은 48이고 나머지는 9입니다.

# 64. Pandas를 이용한 데이터 검색  

SQL, Pandas를 자유롭게 사용할 수 있어야 합니다.  
SQL ---> Pandas, Pandas ---> SQL  

예제:
```
emp[['ename','sal']][emp['ename']=='SCOTT']
          컬럼            조건
```

문제203. dept3.csv를 판다스로 로드해서 dept 데이터 프레임 전체를 출력하시오!

In [ ]:
#from google.colab import files
#myfile = files.upload()

import pandas as pd
dept = pd.read_csv('dept3.csv')
print(dept)

   deptno       dname       loc
0      10  ACCOUNTING  NEW YORK
1      20    RESEARCH    DALLAS
2      30       SALES   CHICAGO
3      40  OPERATIONS    BOSTON

문제204. 부서위치가 DALLAS의 부서번호과 부서명(dname)을 출력하시오!

In [ ]:
dept = pd.read_csv('dept3.csv')
print(dept[['deptno','dname']][dept['loc']=='DALLAS'])

   deptno     dname
1      20  RESEARCH

# 65. Pandas를 이용한 조인  

예제: 이름과 부서위치를 출력하시오!
```
SQL>
select e.ename, d.loc
    from emp e, dept d
    where e.deptno = d.deptno

Pandas>
import pandas as pd
emp = pd.read_csv('emp3.csv')
dept = pd.read_csv('dept3.csv')

result = pd.merge(emp, dept, on = 'deptno')
print(result[['ename','loc']])
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
dept = pd.read_csv('dept3.csv')

result = pd.merge(emp, dept, on = 'deptno')
print(result[['ename','loc']])

     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    BLAKE   CHICAGO
4   MARTIN   CHICAGO
5    ALLEN   CHICAGO
6   TURNER   CHICAGO
7    JAMES   CHICAGO
8     WARD   CHICAGO
9    JONES    DALLAS
10    FORD    DALLAS
11   SMITH    DALLAS
12   SCOTT    DALLAS
13   ADAMS    DALLAS

설명: emp 데이터프레임과 dept 데이터 프레임을 merge를 써서 조인시키는데 on = 'deptno'를 이용해서 연결고리가 되는 컬럼을 지정해주면 됩니다.  

문제205. DALLAS에서 근무하는 사원들의 이름과 부서위치를 출력하시오.
```
SQL>
select e.ename, d.loc
    from emp e, dept d
    where e.deptno = d.deptno
      and d.loc = 'DALLAS'

```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
dept = pd.read_csv('dept3.csv')

result = pd.merge(emp,dept,on='deptno')
print(result[['ename','loc']][result['loc']=='DALLAS'])

    ename     loc
9   JONES  DALLAS
10   FORD  DALLAS
11  SMITH  DALLAS
12  SCOTT  DALLAS
13  ADAMS  DALLAS

문제206. 월급이 3000이상인 사원들의 이름과 월급과 부서위치를 출력하시오.
```
SQL>
select e.ename, e.sal, d.loc
    from emp e, dept d
    where e.deptno = d.deptno
      and sal >= 3000;
Pandas>
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
dept= pd.read_csv('dept3.csv')
result = pd.merge(emp, dept, on = 'deptno')

print(result[['ename','sal','loc']][result['sal']>=3000])

    ename   sal       loc
0    KING  5000  NEW YORK
10   FORD  3000    DALLAS
12  SCOTT  3000    DALLAS

문제207. 부서번호가 10번, 20번인 사원들의 이름과 부서위치와 부서번호를 출력하시오!
```
SQL>
select e.ename, d.loc, e.deptno
    from emp e, dept d
    where e.deptno = d.deptno
      and e.deptno in (10, 20);

pandas>
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
dept = pd.read_csv('dept3.csv')

result = pd.merge(emp, dept, on = 'deptno')
print(result[['ename','loc','deptno']][result['deptno'].isin( [ 10,20 ] ) ]) # ( [ ]) 안에 대괄호 쓰는거 잊지 말것! 틀렸음

     ename       loc  deptno
0     KING  NEW YORK      10
1    CLARK  NEW YORK      10
2   MILLER  NEW YORK      10
9    JONES    DALLAS      20
10    FORD    DALLAS      20
11   SMITH    DALLAS      20
12   SCOTT    DALLAS      20
13   ADAMS    DALLAS      20

문제208. 월급이 1000에서 3000사이인 사원들의 이름과 월급과 부서위치를 출력하시오.  
```
SQL>
select e.ename, e.sal, d.loc
    from emp e, dept d
    where e.deptno = d.deptno
      and e.sal between 1000 and 3000;

Pandas>
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
dept = pd.read_csv('dept3.csv')
result = pd.merge(emp, dept, on = 'deptno')

print(result[['ename','sal','loc']][result['sal'].between(1000,3000)])

     ename   sal       loc
1    CLARK  2450  NEW YORK
2   MILLER  1300  NEW YORK
3    BLAKE  2850   CHICAGO
4   MARTIN  1250   CHICAGO
5    ALLEN  1600   CHICAGO
6   TURNER  1500   CHICAGO
8     WARD  1250   CHICAGO
9    JONES  2975    DALLAS
10    FORD  3000    DALLAS
12   SCOTT  3000    DALLAS
13   ADAMS  1100    DALLAS

문제209. 아래의 SQL을 Pandas로 구현하시오.
```
SQL>
select e.ename, d.loc
    from emp e, dept d
    where e.deptno(+) = d.deptno;
#아우터조인 오랜만에본다.
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
dept = pd.read_csv('dept3.csv')
result = pd.merge(emp, dept, on = 'deptno', how = 'right')
print(result[['ename','loc']])

     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    JONES    DALLAS
4     FORD    DALLAS
5    SMITH    DALLAS
6    SCOTT    DALLAS
7    ADAMS    DALLAS
8    BLAKE   CHICAGO
9   MARTIN   CHICAGO
10   ALLEN   CHICAGO
11  TURNER   CHICAGO
12   JAMES   CHICAGO
13    WARD   CHICAGO
14     NaN    BOSTON

반대쪽은 left겠죠?  

문제210. 아래의 SQL을 Pandas로 구현하시오!
```
SQL>
select e.ename, d.loc
    from emp e full outer join dept d
    on (e.deptno = d.deptno);

Pandas>
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
dept = pd.read_csv('dept3.csv')
result = pd.merge(emp, dept, on = 'deptno', how = 'outer')
print(result[['ename','loc']])

     ename       loc
0     KING  NEW YORK
1    CLARK  NEW YORK
2   MILLER  NEW YORK
3    BLAKE   CHICAGO
4   MARTIN   CHICAGO
5    ALLEN   CHICAGO
6   TURNER   CHICAGO
7    JAMES   CHICAGO
8     WARD   CHICAGO
9    JONES    DALLAS
10    FORD    DALLAS
11   SMITH    DALLAS
12   SCOTT    DALLAS
13   ADAMS    DALLAS
14     NaN    BOSTON

# 66. Pandas를 이용한 서브쿼리  

예제: JONES 보다 더 많은 월급을 받는 사원들의 이름과 월급을 출력하시오.
```
SQL>
select ename, sal
    from emp
    where sal >= (select sal from emp where ename = 'JONES');

Pandas>
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')

jsal = emp['sal'][emp['ename']=='JONES'].values[0]
print(type(jsal))
print(emp[['ename','sal']][emp['sal'] > jsal])

<class 'numpy.int64'>
    ename   sal
0    KING  5000
9    FORD  3000
11  SCOTT  3000

문제211. 아래의 서브쿼리를 Pandas로 구현하시오.  
```
SQL>
select ename, sal
    from emp
    where job = (select job from emp where ename ='SCOTT');
Pandas>
```

In [ ]:
emp = pd.read_csv('emp3.csv')

scott_job = emp['job'][emp['ename']=='SCOTT'].values[0]
print(emp[['ename','sal']][emp['job']==scott_job])

    ename   sal
9    FORD  3000
11  SCOTT  3000

문제212. 아래의 서브쿼리의 결과를 Pandas로 수행하시오.  
```
SQL>
select ename, sal
    from emp
    where job = (select job from emp where ename = 'SCOTT')
      and ename != 'SCOTT'

Pandas>
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')

scott_job = emp['job'][emp['ename']=='SCOTT'].values[0]
print(emp[['ename','sal']][(emp['job']== scott_job) & (emp['ename'] != 'SCOTT')])

    ename   sal
11  SCOTT  3000

설명: 판다스에서 and는 & 이고 or 는 | 입니다.  
&와 |를 쓸 때는 괄호로 묶어줘야 합니다.

#  67. Pandas와 오라클 그룹함수의 비교  

```
SQL>
select max(sal)
    from emp;

Pandas>
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
print(emp['sal'].max())        # .max()
print(emp['sal'].min())        # 최소
print(emp['sal'].mean())       # 평균
print(emp['sal'].sum())        # 토탈
print(emp['sal'].var())        # 분산
print(emp['sal'].std())        # 표준편차

5000
800
2073.214285714286
29025
1398313.8736263737
1182.5032235162716

문제213. 아래의 SQL을 판다스로 구현하시오!  
```
SQL>
select max(sal)
    from emp
    where deptno = 20;

Pandas>
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')

print(emp['sal'][emp['deptno']==20].max())       # emp['sal'].max()[emp['deptno']==20] 이렇게 맥스를 중간에 넣었다가 한번 틀림

3000

문제214. 아래의 SQL을 판다스로 구현하시오.  
```
SQL>
select min(sal)
    from emp
    where job = 'SALESMAN';

pandas>
```

In [ ]:
import pandas as pd
emp = pd.read_csv('emp3.csv')

print(emp['sal'][emp['job']=='SALESMAN'].min())

1250

카페 12기 게시판에 올린 emp12.csv를 c드라이브 밑에 data 밑에 다운받으세요.  

문제215. emp12.csv를 판다스 데이터 프레임으로 만들어서 출력하시오!

In [ ]:
#from google.colab import files
#myfile = files.upload()

import pandas as pd
emp12 = pd.read_csv('emp122.csv')
emp12

문제216. 우리반에서 최소 나이를 출력하시오!

In [304]:
import pandas as pd
emp12 = pd.read_csv('emp122.csv')
print(emp12['AGE'].min())

24

문제217. 아래의 SQL을 판다스로 구현하시오!  
```
SQL>
select job, max(sal)
    from emp
    group by job;
pandas>
```

In [312]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
result = emp.groupby('job')['sal'].max()
print(result)

job
ANALYST      3000
CLERK        1300
MANAGER      2975
PRESIDENT    5000
SALESMAN     1600
Name: sal, dtype: int64

직업만 나오고 컬럼이 없다.  
<class 'pandas.core.series.Series'>  
타입이 시리즈다. 그래서 컬럼이 하나밖에 안보인다.

In [315]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
result = emp.groupby('job')['sal'].max().reset_index()
print(result)

         job   sal
0    ANALYST  3000
1      CLERK  1300
2    MANAGER  2975
3  PRESIDENT  5000
4   SALESMAN  1600

뒤에 reset_index()를 써줘야 제대로 데이터 프레임으로 나온다.  
<class 'pandas.core.frame.DataFrame'>  

설명: reset_index() 키워드는 Series(컬럼)로 출력하는게 아니라.  
DataFrame(테이블)으로 출력하는 키워드 입니다.  
그냥 한 세트로 외우는 것이 좋다.

문제218. 아래의 SQL을 판다스로 구현하시오.  
```
SQL>
select deptno, sum(sal)
    from emp
    group by deptno;
```

In [321]:
import pandas as pd
emp = pd.read_csv('emp3.csv')

result = emp.groupby('deptno')['sal'].sum().reset_index()
result

   deptno    sal
0      10   8750
1      20  10875
2      30   9400

문제219. 아래의 SQL을 판다스로 구현하시오.  
```
SQL>
select deptno, sum(sal)
    from emp
    where deptno != 20
    group by deptno;
```

In [330]:
import pandas as pd
emp = pd.read_csv('emp3.csv')
result = emp.groupby('deptno')['sal'].sum().reset_index()
print(result[['deptno','sal']][result['deptno']==20])

Empty DataFrame
Columns: [deptno, sal]
Index: []

몰라서 틀렸다)
데이터프레임이라는 얘기는 emp[열][조건] 쓸 수 있는거다.  
즉  emp[컬럼][조건]을 붙이면 된다.
일단 result로 값을 뽑아내고 거기서 조건을 붙인다.

문제220. 오늘의 마지막문제) 어제 마지막 문제로 만든 함수를 이용해서 아래와 같이 출력  
```
동전을 10번 던져서 0개 앞면이 나올 확률 0.00..
.
.
.
동전을 10번 던져서 10개 앞면이 나올 확률 0.00..
```