<a href="https://colab.research.google.com/github/HKyeol/Python_study/blob/master/201223%EB%B2%84%EB%B8%94%2C%ED%83%90%EC%9A%95%2C%EC%9E%AC%EA%B7%80%2CLUR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 154. 필수 알고리즘3 (버블정렬)

버블정렬이란?  
서로 인접한 두 요소의 크기를 서로 비교하여 순서에 맞지 않는 요소를 인접한 요소와 서로 교환하여 정렬하는 정렬방법을 버블(bubble) 정렬이라고 합니다.  

문제502. 아래의 리스트를 만들고 첫번째 요소와 두번째 요소의 순서를 변경하시오.
```
a=[10,5,20,9,8]
결과 : [5,10,20,9,8]
```

In [10]:
a=[10,5,20,9,8]
a[0],a[1] = a[1],a[0]
a

[5, 10, 20, 9, 8]

문제503. 아래의 a 리스트의 첫번째 요소와 두번째 요소의 크기를 비교해서 첫번째 요소의 숫자가 두번째 요소의 숫자보다 크다면 두개를 바꿔치기해라
```
a=[10,5,20,9,8]
결과 : [5,10,20,9,8]
```

In [ ]:
a=[10,5,20,9,8]
if a[0] > a[1]:
    a[0],a[1] = a[1],a[0]
a

문제504. 문제503번 코드에 for loop문을 넣어서 버블정렬하시오!

In [30]:
a=[5,4,3,2,1,8,7,10]
for j in range(len(a)-1):
    for i in range(len(a)-j-1):
        if a[i] > a[i+1]:
            a[i],a[i+1] = a[i+1],a[i]
a

[1, 2, 3, 4, 5, 7, 8, 10]

In [ ]:
문제505. 필수알고리즘3)버블정렬을 하는 함수를 아래와 같이 생성하시오!
```
a=[5,4,3,2,1,8,7,10]
print(bubble_sort(a))
결과: [1, 2, 3, 4, 5, 7, 8, 10]
```

In [111]:
def bubble_sort(a):
    cnt = 0
    for j in range(len(a)-1):
        for i in range(len(a)-j-1): # 과도한 계산을 막기 위해서 하나씩 빼줌 처음에 정렬된 제일 큰 수는 안봐도 되니까
            if a[i] > a[i+1]:
                a[i],a[i+1] = a[i+1],a[i]
            print(a)
            cnt += 1
    print(cnt)
    return a
a=[5,4,3,2,1,8,7,10]

print(bubble_sort(a))

[4, 5, 3, 2, 1, 8, 7, 10]
[4, 3, 5, 2, 1, 8, 7, 10]
[4, 3, 2, 5, 1, 8, 7, 10]
[4, 3, 2, 1, 5, 8, 7, 10]
[4, 3, 2, 1, 5, 8, 7, 10]
[4, 3, 2, 1, 5, 7, 8, 10]
[4, 3, 2, 1, 5, 7, 8, 10]
[3, 4, 2, 1, 5, 7, 8, 10]
[3, 2, 4, 1, 5, 7, 8, 10]
[3, 2, 1, 4, 5, 7, 8, 10]
[3, 2, 1, 4, 5, 7, 8, 10]
[3, 2, 1, 4, 5, 7, 8, 10]
[3, 2, 1, 4, 5, 7, 8, 10]
[2, 3, 1, 4, 5, 7, 8, 10]
[2, 1, 3, 4, 5, 7, 8, 10]
[2, 1, 3, 4, 5, 7, 8, 10]
[2, 1, 3, 4, 5, 7, 8, 10]
[2, 1, 3, 4, 5, 7, 8, 10]
[1, 2, 3, 4, 5, 7, 8, 10]
[1, 2, 3, 4, 5, 7, 8, 10]
[1, 2, 3, 4, 5, 7, 8, 10]
[1, 2, 3, 4, 5, 7, 8, 10]
[1, 2, 3, 4, 5, 7, 8, 10]
[1, 2, 3, 4, 5, 7, 8, 10]
[1, 2, 3, 4, 5, 7, 8, 10]
[1, 2, 3, 4, 5, 7, 8, 10]
[1, 2, 3, 4, 5, 7, 8, 10]
[1, 2, 3, 4, 5, 7, 8, 10]
28
[1, 2, 3, 4, 5, 7, 8, 10]

In [112]:
def bubble_sort(a):
    j = -1
    cnt = 0
    temp = ''
    b = 1 # 계산을 줄이기 위해서 추가함
    while True:
        n = 0
        j += 1
        for i in range(len(a)-j-b): # 과도한 계산을 막기 위해서 하나씩 빼줌 처음에 정렬된 제일 큰 수는 안봐도 되니까
            temp = n
            if a[i] > a[i+1]:
                a[i],a[i+1] = a[i+1],a[i]
                n += 1
            print(a,n,temp,i, len(a)-j-b)
            cnt += 1
            if n == temp and i == len(a)-j-b-1:
                b += 1
        if n == 0:
            break
    print(cnt)   
    return a
a=[10,9,1,2,3,4,5,6,7,8]
#a=[5,4,3,2,1,8,7,10]

print(bubble_sort(a))

[9, 10, 1, 2, 3, 4, 5, 6, 7, 8] 1 0 0 9
[9, 1, 10, 2, 3, 4, 5, 6, 7, 8] 2 1 1 9
[9, 1, 2, 10, 3, 4, 5, 6, 7, 8] 3 2 2 9
[9, 1, 2, 3, 10, 4, 5, 6, 7, 8] 4 3 3 9
[9, 1, 2, 3, 4, 10, 5, 6, 7, 8] 5 4 4 9
[9, 1, 2, 3, 4, 5, 10, 6, 7, 8] 6 5 5 9
[9, 1, 2, 3, 4, 5, 6, 10, 7, 8] 7 6 6 9
[9, 1, 2, 3, 4, 5, 6, 7, 10, 8] 8 7 7 9
[9, 1, 2, 3, 4, 5, 6, 7, 8, 10] 9 8 8 9
[1, 9, 2, 3, 4, 5, 6, 7, 8, 10] 1 0 0 8
[1, 2, 9, 3, 4, 5, 6, 7, 8, 10] 2 1 1 8
[1, 2, 3, 9, 4, 5, 6, 7, 8, 10] 3 2 2 8
[1, 2, 3, 4, 9, 5, 6, 7, 8, 10] 4 3 3 8
[1, 2, 3, 4, 5, 9, 6, 7, 8, 10] 5 4 4 8
[1, 2, 3, 4, 5, 6, 9, 7, 8, 10] 6 5 5 8
[1, 2, 3, 4, 5, 6, 7, 9, 8, 10] 7 6 6 8
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 8 7 7 8
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 0 0 0 7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 0 0 1 7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 0 0 2 7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 0 0 3 7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 0 0 4 7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 0 0 5 7
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 0 0 6 7
24
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 155. 필수 알고리즘4 (탐욕 알고리즘)  

머신러닝 배울 때 의사결정트리를 구현할 때 사용하는 알고리즘입니다.  

탐욕 알고리즘이란? 탐욕 알고리즘은 매 순간마다 최선의 선택을 하는 것입니다. 선택할 때마다 가장 좋다고 생각되는 것을 선택해나가며 최종적인 해답을 구하는 알고리즘입니다.  
이 알고리즘을 설계할 때 주의할 점은 전체를 고려하는게 아니라 문제를 부분적으로 나누어, 나누어진 문제에 대한 최적의 해답을 구하게끔 해야한다는 점입니다.  

예: 14원의 잔돈을 줘야하는데 잔돈의 종류가 10원, 7원, 1원이 있으면 잔돈을 가장 빨리 줄 수 있는 방법은?  

답: 7원짜리 2개를 주면 된다.  

탐욕 알고리즘은 10원 1개, 7원 0개, 1원4개로 주는 것
  

문제506. 14를 10으로 나눈 몫을 출력하시오!

In [98]:
import math
print(math.trunc(14/10))
int(14/10) # trunc보다 integer가 낫겠다.

1

1

In [99]:
print(14//10) # // 슬래쉬 2개는 몫을 구하는 방법이다. 이게 best!

1

문제507. 14를 10으로 나눈 나머지값을 출력하시오!

In [100]:
14%10

4

문제508. 숫자를 물어보게하고 숫자를 10으로 나눈 몫과 숫자를 10으로 나눈 나머지값을 출력하게 하시오!  
```
숫자를 입력하세요 ~ 14
몫은: 1
나머지값은 : 4
```

In [105]:
a = int(input('숫자를 입력하세요 ~ '))
print(f'몫은 : {a//10}')
print(f'나머지값은 : {a%10}')

숫자를 입력하세요 ~ 14
몫은 : 1
나머지값은 : 4

문제509. 아래의 잔돈 리스트를 만들고 잔돈 리스트의 첫번째 요소로 나눈 몫과 나머지값이 출력되게 하시오
```
coin = [10,7.1]

숫자를 입력하세요 ~ 14

몫은: 1
나머지값은: 4
```

In [110]:
coin = [10,7.1]
a = int(input('숫자를 입력하세요 ~ '))
print(f'몫은 : {a//coin[0]}')
print(f'나머지값은 : {a%coin[0]}')

숫자를 입력하세요 ~ 14
몫은 : 1
나머지값은 : 4

문제510. 위의 코드를 함수로 만들어서 실행되게 하시오!

In [119]:
def greedy():
    coin = [10,7,1]
    a = int(input('숫자를 입력하세요 ~ '))
    print(f'몫은 : {a//coin[0]}')
    print(f'나머지값은 : {a%coin[0]}')
greedy()

숫자를 입력하세요 ~ 14
몫은 : 1
나머지값은 : 4

문제511. 필수 알고리즘 4번째) 탐욕 알고리즘을 파이썬으로 구현하시오(점심시간 문제)
```
잔돈을 입력하세요 ~ 14
10원 동전 1개, 7원 동전 0개, 1원 동전 4개로 줍니다.
```

In [140]:
def greedy():
    coin = [10,7,1]

    a = int(input('잔돈을 입력하세요 ~ '))
    b = []
    for i in coin[:-1]:
        print(f'{i}원 동전 {a//i}개, ',end = '')
        a = a%i
    print(f'{coin[-1]}원 동전 {a//coin[-1]}개로 줍니다.')
greedy()

잔돈을 입력하세요 ~ 109
10원 동전 10개, 7원 동전 1개, 1원 동전 2개로 줍니다.

정렬을 추가해야 한다.

In [141]:
def greedy():
    coin = [10,7,1]
    coin = sorted(coin, reverse = True) # 큰값이 앞으로 오게 정렬
    a = int(input('잔돈을 입력하세요 ~ '))
    b = []
    for i in coin[:-1]:
        print(f'{i}원 동전 {a//i}개, ',end = '')
        a = a%i
    print(f'{coin[-1]}원 동전 {a//coin[-1]}개로 줍니다.')
greedy()

잔돈을 입력하세요 ~ 117
10원 동전 11개, 7원 동전 1개, 1원 동전 0개로 줍니다.

# 156. 필수 알고리즘5 (재귀알고리즘)  

재귀 알고리즘은 처음에는 이해하기가 어려운 알고리즘이지만 많이 연습해서 잘 알아두면 loop문을 최소화 하면서 코드를 간단하게 작성할 수 있는 알고리즘입니다.  

1. 재귀함수란?  
```
반복문 + 스택구조가 결합된 함수입니다.
             ↓
        후입선출(나중에 들어간게 먼저 나오는 구조)
             ↓
        관련 동영상
```
2. 재귀함수의 특징
재귀함수는 함수 내에서 다시 자기 자신을 호출한 후 그 함수가 끝날때까지 함수 호출 이후의 명령문을 수행하지 않습니다.  

3. 함수 내에서 다른 함수를 호출하는 예제

In [146]:
def hap(a,b):
    return (a+b)
def gob(a,b):
    return (a*b)
def hap_gob(a,b):
    k = hap(a,b)
    m = gob(a,b)
    return k+m
print(hap_gob(2,3))

11

4. 숫자를 입력하면 1부터 해당 숫자까지의 합을 출력하는 함수를 생성하시오
```
print(add_func(5))
결과 : 15
```

In [149]:
def add_func(num):
    cnt = 0
    for i in range(num+1):
        cnt += i
    return cnt
add_func(5)

15

5. 위의 add_func 함수를 재귀함수로 구현하시오!  
(재귀함수를 사용하면 loop문을 사용하지 않아도 됩니다.)

In [155]:
def add_func(n):
    if n == 0:
        return 0
    else:
        return n + add_func(n-1)
add_func(2)

3

문제512. factorial 함수를 만드시오.
```
print(factorial(5))
5x4x3x2x1 = 120
```

In [158]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n-1)
factorial(5)

120

문제513. 위의 factorial 함수를 재귀를 이용하지 말고 for loop문으로 구현하시오.

In [163]:
def factorial(n):
    a = 1
    for i in range(1,n+1):
        a = a*i
    return a
factorial(5)

120

문제514. 오라클의 power 함수를 파이썬으로 구현하시오!
```
SQL>
select power(2,3) from dual; # 8
```

In [183]:
def power(n1,n2):
    result = 1
    for i in range(n2):
        result = result*n1
    return result
power(2,3)

8

문제51. 위의 power 함수를 loop문을 쓰지말고 재귀함수로 구현하시오

In [192]:
def power(n1,n2):
    if n2 == 0:
        return 1
    else:
        return n1 * power(n1,n2+ 1)
power(4,3)

64

문제516. 구구단 2단을 아래와 같이 출력하는 함수를 만드시오. for loop문 사용
```
print(multi_table_2dan(8))
2 x 1 = 2
2 x 2 = 4
.
.
2 x 8 = 16
```

In [203]:
def multi_table_2dan(n):
    for i in range(1,n+1):
        print(f'2 x {i} = {2*i}')
multi_table_2dan(8)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16

문제517. 두 숫자를 입력해서 함수를 실행하면 두 숫자의 최대공약수가 출력되는 함수를 생성하시오! (재귀함수 사용하지 않고 loop문 이용)

In [216]:
def gcd(n1,n2):
    for i in range(min(n1,n2),1,-1):
        if n1%i == 0 and n2%i == 0:
            return i
gcd(16,24)

8

문제518. 필수 알고리즘 5번쨰) 최대공약수를 출력하는 함수를 재귀함수로 구현하시오.

In [245]:
def gcd(n1,n2): 
    if n2 == 0:
        return n1  #
    else:
        return gcd(n2, n1%n2)   # 너무 어렵다...
print(gcd(16,24))

16

In [273]:
def gcd(n1,n2): 
    if n2 == 0:
        return n1  #
    else:
        return gcd(n2, n1%n2)   # 너무 어렵다...
print(gcd(16,24))

8

* 버블정렬을 재귀함수로 구현  

문제519. 함수를 만들 때 아래와 같이 입력매개변수에 기본값을 지정해서 만들수가 있습니다. 다음과 같이 수행하세요.

In [253]:
def bubble_a(x,k=1):
    return x + k
a = [1,2,5,4,3]
print(bubble_a(3))

4

문제520. 버블 정렬했던 a 리스트와 함수를 가져와 실행합니다.

In [ ]:
def bubble_sort(a):
    j = -1
    cnt = 0
    temp = ''
    b = 1 # 계산을 줄이기 위해서 추가함
    while True:
        n = 0
        j += 1
        for i in range(len(a)-j-b): # 과도한 계산을 막기 위해서 하나씩 빼줌 처음에 정렬된 제일 큰 수는 안봐도 되니까
            temp = n
            if a[i] > a[i+1]:
                a[i],a[i+1] = a[i+1],a[i]
                n += 1
            print(a,n,temp,i, len(a)-j-b)
            cnt += 1
            if n == temp and i == len(a)-j-b-1:
                b += 1
        if n == 0:
            break
    print(cnt)   
    return a
a=[10,9,1,2,3,4,5,6,7,8]

# 157. 필수 알고리즘 (LUR 알고리즘)
                          ↓
                    Least Recent Used
LRU 알고리즘이란 Oracle DATABASE의 메모리 관리를 효율적으로 하기 위해 고안된 대표적인 알고리즘으로 최신 데이터를 메모리에 유지시키고 오래된 데이터는 메모리에서 내보내게 하는 알고리즘

메모리에서 데이터를 조회하는 것(1초) --> cache hit  
메모리에 없어서 디스크에서 조회하는 것(5초) --> cache miss

한번 디스크에서 읽은 데이터를 메모리에 올려놓고 메모리에서 빠르게 데이터를 조회할 수 있도록 LRU 알고리즘을 구현해서 만든 소프트웨어 입니다. 그런데 이 메모리 공간이 한정된 공간이다 보니 무한히 데이터를 올릴 수 없어서 오래된 데이터는 메모리에서 빠져나가게 되고 최신 데이터가 그 빠져나간 자리에 올라가게 됩니다.  
최근에 내가 검색한 데이터는 다시 검색할 확률이 높은 데이터 이므로 메모리에 오래 두도록 하고 예전에 검색한 데이턴느 메모리에서 빠져나가게 합니다.

문제521. 오늘의 마지막 문제) 구구단 2단을 재귀함수로 출력하시오.

In [271]:
def multi_table_2(n,k=1):
    if n == 0:
        return 
    else:
        print(f'2 * {k} = {2*k}')
        return multi_table_2(n-1,k+1)

multi_table_2(9)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18